@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Chaso.Reporting.Sample, Show how works Chaso.Reporting component, that is a full-featured reporting solution for Windows Forms, ASP.NET, MVC. It can be used in Microsoft Visual Studio 2005-2017. Supports .Net Framework 4.x.</p>
