@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Charles Oliveira <br />
    Desenvolvedor DotNet, trabalha com Asp.Net MVC, .Net Core, WebApi, Xamarin, Html, Css, JavaScript, Angular, SQLServer e nas horas vagas assiste séries e animes.
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:chasoliveira@outlook.com">chasoliveira@outlook.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/chasoliveira">Charles Oliveira - Chasoliveira</a>
    <strong>GitHub Project:</strong> <a href="https://github.com/chasoliveira/Chaso.Reporting.Sample">Chaso.Reporting.Sample</a>
</address>